<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_header.css') }}" />
    <title>Administrativo</title>
</head>
<body>
<header>
    <nav class="navbar">
      <img class="navbar_imglogo" src="{{ url_for('static', filename='image/La bella Pizzaria.png') }}" alt="logo" />
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href=/home>Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cardapio">Cardapio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reservar">Reservar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/carrinho">Carrinho</a>
          </li>
          {% if type == '1' %}
           <li class="navbar__item">
            <a class="nav-link dropdown" >Administrativo</a>
            <div class="dropdown_content adm">
              <a class="dropdown-item" href="/administrativo/produtos">Produtos</a>
              <a class="dropdown-item" href="/adminstrativo/usuario">Usuários</a>
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
      <ul class="nav-options">
        <li class="navbar__item">
          <img class="navbar_imgperfil dropdown" src="{{ url_for('static', filename='image/ico_user.png') }}" alt="perfil" class="profile-image"
            style="cursor: pointer" />
          <div class="dropdown profile-dropdown">
            <div class="dropdown_content perfil">
              <a class="dropdown-item" href="/perfil">Perfil</a>
              <a class="dropdown-item" href="/logout">Sair</a>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <img src="https://th.bing.com/th/id/R.9ce7009c9d0a8efd3351c142b859ba0e?rik=D0PrPMWcO3kYfA&riu=http%3a%2f%2fwww.multportaseacabamentos.com.br%2fmanutencao.jpg&ehk=6ZPImjAQxLo4A8%2fX4EWwaWhwnbHd51TyIyxnQBHteRQ%3d&risl=&pid=ImgRaw&r=0"
  style="width: 60%;">
    <script src="{{url_for('static', filename='js/script_header.js')}}"></script>
</body>
</html>