<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--font_awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_header.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_products.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_modal_pizza.css') }}" />
    <title>La bella Cardapio</title>
  </head>

  <body>
    <header>
    <nav class="navbar">
      <img class="navbar_imglogo" src="{{ url_for('static', filename='image/La bella Pizzaria.png') }}" alt="logo" />
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href=/home>Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cardapio">Cardapio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reservar">Reservar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/carrinho">Carrinho</a>
          </li>
          {% if type == '1' %}
           <li class="navbar__item">
            <a class="nav-link dropdown" >Administrativo</a>
            <div class="dropdown_content adm">
              <a class="dropdown-item" href="/administrativo/produtos">Produtos</a>
              <a class="dropdown-item" href="/adminstrativo/usuario">Usuários</a>
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
      <ul class="nav-options">
        <li class="navbar__item">
          <img class="navbar_imgperfil dropdown" src="{{ url_for('static', filename='image/ico_user.png') }}" alt="perfil" class="profile-image"
            style="cursor: pointer" />
          <div class="dropdown profile-dropdown">
            <div class="dropdown_content perfil">
              <a class="dropdown-item" href="/perfil">Perfil</a>
              <a class="dropdown-item" href="/logout">Sair</a>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </header>
      <div class="wrapper">
        <aside>
          <header>
            <h1 class="page_title">Cardapio</h1>
          </header>
          <nav>
            <ul class="menu_items">
              <li><button class="category active">Pizzas Salgadas</button></li>
              <li><button class="category">Pizzas Doces</button></li>
              <li><button class="category">Monte sua Pizza</button></li>
              <li><button class="category">Bebidas</button></li>
            </ul>
          </nav>
        </aside>
      <main>
      <h2>Produtos</h2>
<div class="products">
  {% for product in products %}
  <div class="product">
    <img class="product_image" src="{{ product['image'] }}" alt="">
    <div class="product_info">
      <h3 class="product_name">{{ product['name'] }}</h3>
      <p class="product_description">{{ product['description'] }}</p>
      <button class="product_ask" onclick='openModal({{ product|tojson|safe }})' >Pedir</button>
    </div>
  </div>
  {% endfor %}
</div>

<!--(Modal) -->
<div id="editModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="pizza-details">
      <img src="" alt="Pizza" class="pizza-image">
      <div class="pizza-info">
        <h2 class="pizza-name"></h2>
        <p class="pizza-description"></p>
      </div>
    </div>
    <form id="order-form">
      <div class="quantity-container">
        <label for="quantity">Quantidade:</label>
        <input type="number" id="quantity" name="quantity" min="1" value="1">
      </div>
      <div class="price">
        <input type="radio" id="priceP" name="size" value="P" data-price="10.99">
        <label class="price1" for="priceP">P -<span id="price_p"> </span></label>
        <input type="radio" id="priceM" name="size" value="M" data-price="12.99" checked>
        <label class="price1" for="priceM">M -<span id="price_m"> </span></label>
        <input type="radio" id="priceG" name="size" value="G" data-price="14.99">
        <label class="price1" for="priceG">G - <span id="price_g"> </span></label>
      </div>
      <div class="observation_option">
        <label for="observation">Observação:</label>
        <textarea id="observation" name="observation" placeholder="ex.: Sem cebola"></textarea>
      </div>
      <input type="hidden" id="product_id" name="product_id" value="">
      <input type="hidden" id="item" name="item" value="">
      <input type="hidden" id="action" name="action" value="buy">
      <button id="addToCartButton" class="buy" type="submit">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </button>

    </form>
  </div>
</div>
        <div class="cart">
          <img src="{{ url_for('static', filename='image/carrinho.png') }}" alt="Carrinho de Compras" title="Ir para carrinho">
          <span class="cart-count">0</span>
        </div>
      <script src="{{ url_for('static', filename='js/script_header.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script_menu.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script_modal_pizza.js') }}"></script>
  </body>

</html>