<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--font_awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!--css-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_header.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_carrinho.css') }}">

  <title>Carrinho</title>
</head>
<body>
    <header>
    <nav class="navbar">
      <img class="navbar_imglogo" src="{{ url_for('static', filename='image/La bella Pizzaria.png') }}" alt="logo" />
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href=/home>Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cardapio">Cardapio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reservar">Reservar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/carrinho">Carrinho</a>
          </li>
          {% if type == '1' %}
           <li class="navbar__item">
            <a class="nav-link dropdown" >Administrativo</a>
            <div class="dropdown_content adm">
              <a class="dropdown-item" href="/administrativo/produtos">Produtos</a>
              <a class="dropdown-item" href="/adminstrativo/usuario">Usuários</a>
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
      <ul class="nav-options">
        <li class="navbar__item">
          <img class="navbar_imgperfil dropdown" src="{{ url_for('static', filename='image/ico_user.png') }}" alt="perfil" class="profile-image"
            style="cursor: pointer" />
          <div class="dropdown profile-dropdown">
            <div class="dropdown_content perfil">
              <a class="dropdown-item" href="/perfil">Perfil</a>
              <a class="dropdown-item" href="/logout">Sair</a>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </header>
 <main>
  <h1 class="page_title">Pedidos</h1>
  {% if user_orders %}
  {% set total = 0 %}
  <div class="container_main">
    <div class="products_cart">
      {% for order in user_orders %}
      {% set total = total + order['subtotal']%}
      <div class="product_cart">
        <img src="{{ order['image'] }}" alt="">
        <div class="product_title">
          <small>{{ order['name'] }}</small>
          <h3>{{ order['specification'] }}</h3>
        </div>
        <div class="cart_product_amount">
          <small>Quantidade</small>
          <p>{{ order['amount'] }}</p>
        </div>
        <div class="cart_product_value">
          <small>Preço</small>
          <p>{{ order['prices'][0][order['specification']]}}</p>
        </div>
        <div class="cat_product_subtotal">
          <small>Subtotal</small>
          <p>{{ order['subtotal'] }}</p>
        </div>
        <div class="cart_buttons">
          <button class="cart_product_delete" onclick="deletePedido('{{ order['id'] }}')" ><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="cart_actions">
      <div class="actions_total">
        <p>Total:</p>
        <p id="total"></p>
        <button class="cart_action_buy btn-finalizar">Finalizar Pedido</button>
      </div>
    </div>
  </div>
  {% else %}
  <div class="container_main">
    <div class="void_cart">
      <i class="fa fa-frown-o" aria-hidden="true"></i>
      <p>Carrinho vazio.</p>
      <a href="/cardapio" class="button">Ver cardápio</a>
    </div>
  </div>
  {% endif %}
</main>
  <div id="modal-success" class="success-message">
   <i class="fa fa-check" aria-hidden="true"></i>
  </div>
<input type="hidden" id="user-id" value="{{ user_id }}">

<!-- Modal de finalização -->
<div id="modal-finalizar" class="container d-flex justify-content-center mt-5">
  <div class="card">
    <div>
      <h3 class="modal-title">Finalizar Pedido</h3>
      <div class="payment-method">
        <label class="radio-container">
          <input type="radio" name="payment" value="pix">
          <span class="checkmark"></span>
          Pix
        </label>
        <label class="radio-container">
          <input type="radio" name="payment" value="cartao" checked>
          <span class="checkmark"></span>
          Cartão
        </label>
        <label class="radio-container">
          <input type="radio" name="payment" value="dinheiro">
          <span class="checkmark"></span>
          Dinheiro
        </label>
        <div class="money-options">
          <label for="troco-valor">Troco para:</label>
          <input type="number" id="troco-valor" name="troco-valor">
        </div>
      </div>
    </div>
    <div class="modal-actions">
      <div>
        <button class="btn btn-secondary" onclick="fecharModalFinalizar()">Cancelar</button>
      </div>
      <div>
        <button class="btn btn-primary" onclick="finalizarPedido()">Finalizar</button>
      </div>
    </div>
  </div>
</div>


  <script src="{{ url_for('static', filename='js/modal_finalizar.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script_carrinho.js') }}"></script>
  <script src="{{url_for('static', filename='js/script_header.js')}}"></script>
</body>

</html>